{% extends 'layouts/layout-full-width.html.twig' %}

{% block title %}Profile{% endblock %}

{% block contentFullWidth %}
    <h1>Your Profile</h1>

    <p><strong>Username:</strong> {{ user.name }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Bio:</strong> {{ user.bio}}</p>
    <ul class="manga-list">
        {% for manga in app.user.mangas %}
        <li classs="profile-manga">
            <img src="{{ asset('uploads/covers/' ~ manga.cover) }}"/>
            <p>{{ manga.name }}</p>
        </li>
        {% endfor %}
    </ul>

    <a class="button" href="{{ path('profile_edit') }}">Edit Profile</a>
{% endblock %}
