{% extends "base.html.twig" %}

{% block body %}
<header>
    <nav>
        <a href="{{ path('home') }}" tabindex="0">Home</a>
        <a href="{{ path('profile') }}">Profile</a>
        <a href="{{ path('manga_list') }}">Manga</a>
    </nav>
    <div class="login-register">
        {% if app.user %}
        <a href="{{ path('app_logout') }}">Logout</a>
        {% else %}
        <a href="{{ path('register') }}">Register</a>
        <a href="{{ path('app_login') }}">Login</a>
        {% endif %}
    </div>
    </header>
    <main id="content">
        {% block contentFullWidth %}{% endblock %}
    </main>
    <footer>
        <nav>
        <a href="{{ path('mentions-legales') }}">Mention Légales</a>
        <a href="{{ path('profile') }}">Profile</a>
        <a href="{{ path('manga_list') }}">Manga</a>
    </nav>
    </footer>
{% endblock %}